<!doctype html>
<html>

<head>
<title> Schmoi.js </title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>

<body>
<div class="container">
<h1>Express app </h1>
<p>Hallo <%= name %></p>
<p> You are from <%= country %></p>
<p> Your VAT rate is <%= rate %>%</p>

</div>


<link rel="script" href="/bootstrap/dist/js/bootstrap.js">
<link rel="script" href="/jquery/dist/js/jquery.min.js">

</body>

</html>
