<!doctype html>
<html>

<head>
<title> Dwelly VAT RATE </title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>

<body>
<div class="container">
<h1>Easily get EU VAT rates based on IP adresses </h1>
<p> Simply send a GET request to this endpoint:</p>
<code>http://dwelly.me/vat/54.154.87.28</code>

<p> The answer is a JSON object like this one </p>
<code>{"rates":{"super_reduced":4.8,"reduced1":9,"reduced2":13.5,"standard":23,"parking":13.5}}</coder>
</div>


<link rel="script" href="/bootstrap/dist/js/bootstrap.js">
<link rel="script" href="/jquery/dist/js/jquery.min.js">

</body>

</html>
